<div class="row">
    <div class="border border-dark col-3 container-imagem g-1 flex-fill"> 
        teste
    </div>

    <div class="container col-9 g-1 principal-container">

        <div class="container">
            <div class="row">
                <div class="border border-dark">
                    <div class="mt-3 g-1">
                        <div class="row row-xs-3 cabecalho-input">

                            <div class="col col-xs-12 input-group input-group-lg p-0 ">
                                <input class="form-control form-control-lg" type="text" placeholder="Nome"
                                    aria-label=".form-control-lg example">

                            </div>

                            <div class="col col-xs-12 input-group input-group-lg p-0 ">
                                <input class="form-control form-control-lg" type="text" placeholder="Clã"
                                    aria-label=".form-control-lg example">

                            </div>

                            <div class="col col-xs-12 input-group input-group-lg p-0">
                                <input class="form-control form-control-lg" type="text" placeholder="Predador"
                                    aria-label=".form-control-lg example">

                            </div>

                        </div>
                    </div>

                    <div class=" g-3 p-2 m-2 row-1 row justify-content-around outros-pontos-container">

                        <div class="col-3 border border-dark p-5 m-1 outros-pontos-meio"> <vampiro-square-points></vampiro-square-points> </div>

                        <div class="col-3 border border-dark p-5 m-1 outros-pontos-meio"> teste </div>

                        <div class="col-3 border border-dark p-5 m-1 outros-pontos-meio"> teste </div>

                    </div>

                    <div class=" g-3 p-2 m-2 row justify-content-around outros-pontos-container">

                        <div class="col-2 border border-dark p-5 m-1 outros-pontos-baixo"> teste </div>

                        <div class="col-2 border border-dark p-5 m-1 outros-pontos-baixo"> teste </div>

                        <div class="col-2 border border-dark p-5 m-1 outros-pontos-baixo"> teste </div>

                        <div class="col-2 border border-dark p-5 m-1 outros-pontos-baixo"> teste </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>