

.status-principais {
    text-align: center;
    
}



@media (max-width: 650px) {
    .container-imagem {
        display: none;
    }

    .cabecalho-input {
        flex-direction: column;
    }

    .status-container {
        flex-direction: column;
    }

    .status-principais, .status-gerais {
        width: auto;
        height: auto;
    }

    .principal-container {
        width: 100%;
    }

}