<div>
    <div class="container">
        <div class="d-flex justify-content-start">
            <div class="botoes-Adicionar-Tirar row ">
                
                <div class="col-4">
                    <i class="bi bi-dash" *ngIf=" ehPermitidoDelPonto" (click)="apagarPonto()"></i>
                </div>
                
                <div class="col-4"> {{titulo}}</div>
                
                <div class="col-4">
                    <i class="bi bi-plus" *ngIf="ehPermitidoAddPonto" (click)="adicionarPonto()"></i>
                </div>

            </div>
            <div class="">
                <ng-template ngFor let-ponto [ngForOf]="pontos" let-i="index">
                    <i (click)="selecionarBola(i); verificarPermissaoAddPonto(); verificarPermissaoDelPonto()" [ngClass]="ponto" class="bolinha"></i>
                    <div *ngIf="(( i + 1 ) % 5) == 0"></div>
                </ng-template>
            </div>
        </div>
    </div>
</div>