<div class="container-pagina">
    <div>
        <vampiro-cabecalho></vampiro-cabecalho>
    </div>
    <div class="row">
        <div class="col-4">
            <vampiro-pontos [titulo]="'Força'" [ehAtributo]="true"></vampiro-pontos>
            <vampiro-pontos [titulo]="'Destreza'" [ehAtributo]="true"></vampiro-pontos>
            <vampiro-pontos [titulo]="'Vigor'" [ehAtributo]="true"></vampiro-pontos>
        </div>
        <div class="col-4">
            <vampiro-pontos [titulo]="'Carisma'" [ehAtributo]="true"></vampiro-pontos>
            <vampiro-pontos [titulo]="'Manipulação'" [ehAtributo]="true"></vampiro-pontos>
            <vampiro-pontos [titulo]="'Autocontrole'" [ehAtributo]="true"></vampiro-pontos>
        </div>
        <div class="col-4">
            <vampiro-pontos [titulo]="'Inteligência'" [ehAtributo]="true"></vampiro-pontos>
            <vampiro-pontos [titulo]="'Racicínio'" [ehAtributo]="true"></vampiro-pontos>
            <vampiro-pontos [titulo]="'Determinação'" [ehAtributo]="true"></vampiro-pontos>
        </div>
    </div>
</div>
